*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
:root{
    --main-color: #ff0303;
}
@font-face{
    font-family: Oswald-Light;
    src: url(fonts/Oswald-Light.ttf);
}
@font-face{
    font-family: Kairo_Demo;
    src: url(fonts/Kairo_Demo.ttf);
}
html, body {
    max-height: 100%;
    background-color: #252423;
}

.container{
    display: flex;
    max-height: 100vh;
    overflow: hidden;
}
.backgroundImg{
    position: relative;
    width: 40%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset -16px 0px 10px -5px rgba(0, 0, 0, 0.5);

}
.title{
    position: absolute;
    top: 30px;
    left: 30px; 
    width: 100%;
    height: 20%;
}
h1{
    color: white;
    font-family: sans-serif;
    font-size:2em;
}
.backgroundImg,
.formBackground{
    height: 100vh;
    
}
.BgPhoto{

    max-height: 52%;
}
.formBackground{
    position: relative;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text{
    color: aliceblue;
    align-self: center;
}
.SignUpText{
    position: absolute;
    bottom: 8%;
    font-size: 1.5em;
    font-family: Oswald-Light;
}
form{
    color: #999;
    width: 400px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    border-radius: 3px;
    position: relative;
    left: 10%;
}
form h2{
    color: #333;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
p{
    margin-bottom: 1rem;
}
.row{
    display: flex;
    gap: 20px;
}
.formControl{
    border-radius: 3px;
    height: 51px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: none;
    width: 100%;
    color: #495057;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.375rem 0.75rem ;
    line-height: 1.5;
    margin-bottom: 20px;
    box-sizing: border-box;
}
input[name="Last Name"]{
    float: right;
}
input[type="checkbox"]{
    margin-right: 5px;
    height: 14px;
    width: 14px;
}
label a{
    text-decoration: none;
}
label{
    font-size: 1.1rem;
}
.btn{
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    min-width: 140px;
    height: 41px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    margin-top: 15px;
}
.formControl.invalid {
    border: 2px solid red;
}
.formControl.valid{
    border: 2px solid green;
}





@media  screen and (max-width: 900px) { /*css for tablets*/

    .backgroundImg{
        width: 30%;
    }
    form{
        left: 5%;
    }
    .SignUpText{
        width: 180px;
        text-align: center;
    }
}
@media  screen and (max-width: 700px) { /*css for tablets*/

    .backgroundImg{
        width: 20%;
    }
    .formBackground{
        width: 80%;
    }
    .SignUpText{
        width: 180px;
        text-align: center;
        transform: rotate(-90deg);
    }
    h1{
        transform: rotate(-90deg);
        position: absolute;
        left:-50px;
        top: 50px;
    }
    .backgroundImg img{
        display: none;
    }
}





@media  screen and (max-width: 618px) { /*css for phones*/
    .backgroundImg{
        position: static;
        width: 0px;
        display: block;
    }
    .formBackground{
        width: 100%;
        align-items: center;
    }
    .SignUpText{
        position: absolute;
        left: 50%;
        bottom: 10px;
        transition: ;
        width: 80%;
        text-align: center;
        transform: translateX(-50%);
    }
    h1{
        transform: rotate(0deg);
        position: absolute;
        left:10px;
        top: 5px
    }
    form{
        position:static;
        width: 280px;
    }
    .formControl{
        height: 41px;
        font-size: 0.8rem;
        margin-bottom: 15px;
        box-sizing: border-box;
    }
    .title {
        font-size: 13px;
        left: 10px;
        top: 15px;
    }
    label{
        font-size: 0.8rem;
    }
    input[type="checkbox"] {
        height: 12px;
        width: 12px;
    }
    .btn{
        font-size: 12px;
        min-width: 100px;
        height: 30px;
    }
}