*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
@font-face{
    font-family: Oswald-Light;
    src: url(fonts/Oswald-Light.ttf);
}
@font-face{
    font-family: Kairo_Demo;
    src: url(fonts/Kairo_Demo.ttf);
}
html, body {
    max-height: 100%;
    background-color: #252423;
}

.container{
    display: flex;
    max-height: 100vh;
    overflow: hidden;
}
.backgroundImg{
    position: relative;
    width: 40%;
    background-color: #5b7c99;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    position: absolute;
    top: 30px;
    left: 30px; 
    width: 100%;
    height: 20%;
}
h1{
    color: white;
    font-family: sans-serif;
    font-size:2em;
}
.backgroundImg,
.formBackground{
    height: 100vh;
    
}
.BgPhoto{

    max-height: 60%;
}
.formBackground{
    height: 100vh;
}
.text{
    color: aliceblue;
    align-self: center;
}
.SingUpText{
    position: absolute;
    bottom: 8%;
    font-size: 1.5em;
    font-family: Oswald-Light;
}